<{include file="Admin/Public/header.html"}>
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>
    <{include file="Admin/Public/left.html"}>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Admin/Main/Index">首页</a>
                    </li>

                    <li>
                        <a href="/Admin/Admin/ListBull">公告管理</a>
                    </li>
                    <li class="active">列表</li>
                </ul><!-- /.breadcrumb -->
                <!--
                <div class="nav-search" id="nav-search">
                    <form class="form-search" method="get">
                        <span class="input-icon">
                            <input type="text" placeholder="手机号或姓名[回车]" class="nav-search-input" name = "search_angent" id = "search_angent" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div> 
                -->
            </div>

            <div class="page-content">
                <{include file="Admin/Public/styletool.html"}> 
                <div class="page-header">
                    <h1>
                        公告管理
                        <small>
                            <i class="icon-double-angle-right"></i>
                            列表
                            <i class="arrow fa fa-angle-right"></i>
                            <a href='#myModal' data-toggle="modal" data-target="#myModal" onclick="get_data('0');"><span class="green">添加</span></a>
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">

                    <!-- PAGE CONTENT BEGINS -->

                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <div class="table-responsive fadeInDown animated">
                            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="position-relative">
                                                <input type="checkbox" id ="check_all" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th>操作者</th>
                                        <th>公告标记</th>
                                        <th>滚动内容</th>
                                        <th>编辑时间</th>
                                        <th>执行时间</th>
                                        <th>执行时长</th>
                                        <th>进度</th>
                                        <th>状态</th>

                                        <th>操作</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <{foreach from=$list item=val key=key}>
                                    <tr>
                                        <td>
                                            <label class="position-relative">
                                                <input type="checkbox" class="ace" name="check_pro" value = "<{$val.id}>" />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                        <td><{$val.op_id}></td>
                                        <td><{$val.title}></td>
                                        <td><{$val.content|truncate:10}></td>
                                        <td><{$val.add_time|date_format:"Y-m-d H:i:s"}> </td>
                                        <td><{$val.start_time|date_format:"Y-m-d H:i:s"}> </td>
                                        <td><{$val.duration}> </td>
                                        <td><{if $val.proc == 0}><b class="red">已完成</b><{elseif $val.proc == 1}><b class="green">进行中</b><{else}><b class="blue">未开始</b> <{/if}></td>
                                        <td><{if $val.status == 1}><b class="green">开启</b><{else}><b class="red">关闭</b><{/if}> </td>
                                        <td>
                                            <a href='#myModal' data-toggle="modal" data-target="#myModal" onclick="get_data('<{$val.id}>');"><span class="menu-icon fa fa-pencil bigger-150"></span></a>
                                        </td>
                                    </tr>
                                    <{foreachelse}>
                                    <tr>
                                        <td colspan="11" style="color: red"> 没找到信息! </td>
                                    </tr>
                                    <{/foreach}>
                                    <tr>
                                        <td colspan = "11"> 
                                            <button class="btn btn-purple btn-sm" type="button" onclick="del();">
                                                删除
                                                <i class="icon-cog icon-on-right bigger-110"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /.table-responsive -->

                        <!-- Sub Page -->
                        <div class="row"><{$page}></div>
                        <!-- /Sub Page -->
                    </div><!-- /.col -->

                    <!-- PAGE CONTENT ENDS -->
                    <!-- -------------------------------------------------- 浮动窗口 ------------------------------- -->
                    <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">查看商品</button>  -->
                    <!-- 窗口内容 -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">数据信息</h4>
                                </div>
                                <div class="modal-body">
                                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                        <tr> <th>公告类型</th> <td><input type="text"  id="title" placeholder="标题不能为空" /></td> </tr>
                                        <tr> <th>公告内容</th> <td> <textarea id="content" cols="40" rows="10" ></textarea>  </td>  </tr>
                                        <tr> <th>开始时间</th> <td> <input type = "text" id="start_time"  placeholder="为空为当前时间"  /> </td>  </tr>
                                        <tr> <th>持续时间</th> <td> <input type = "text" id="duration"   placeholder="持续滚动时间" value="60" />秒 </td>  </tr>
                                        <tr> <th>功能开关</th> <td> <input id="status" class="ace ace-switch ace-switch-4 btn-rotate" type="checkbox" /><span class="lbl"></span> </td>  </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" id="sub_data">提交</button>
                                    <input type="hidden" id="mid" />
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                    <!-- /-------------------------------------------------- 浮动窗口 ------------------------------- -->


                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content-inner -->
    </div> <!-- /.main-content -->
    <!-- </div> /.main-container -->

    <script type="text/javascript">
        $('#check_all').click(function () {
            $('[name=check_pro]:checkbox').each(function () {
                this.checked = !this.checked;
            });
        });

        function del()
        {
            var data = '';
            var inputs = document.getElementsByName('check_pro');
            for (var i = 0; i < inputs.length; i++)
            {
                if (inputs[i].checked)
                {
                    data = data + ',' + inputs[i].value;
                }
            }
            data = data.substr(1);
            if (data.length < 1)
            {
                alert('请选择要删除的数据');
                return false;
            }
            if (!confirm('确认要删除吗？'))
            {
                return false;
            }
            $.ajax({
                url: '/Admin/<{$Ctrl}>/AjaxDelBull',
                type: 'POST',
                data: {'ids': data, },
                dataType: 'json',
                success: function (json) {
                    alert(json.emsg);
                    if (json.ecode == 200)
                    {
                        location.reload();
                    }
                }
            });
        }


        function get_data(id)
        {
            $('#mid').val(id);
            $.ajax({
                url: '/Admin/<{$Ctrl}>/SubBull',
                type: 'POST',
                data: {'id': id},
                dataType: 'json',
                success: function (json) {
                    if (typeof json.ecode != 'undefined')
                    {
                        $('.modal-body').html('<b class="red">' + json.emsg + '</b>');
                        location.reload();
                    }
                    $('#title').val(json.title);
                    $('#content').val(json.content);
                    $('#duration').val(json.duration);
                    //$('#start_time').val(json.start_time);
                    // 选中判断
                    $('#status').prop('checked', false);
                    if (json.status == 1) {
                        $('#status').prop("checked", true);
                    }
                },
                error: function () {
                    alert('获取失败!');
                    location.reload();
                }
            });
        }

        $('#sub_data').click(function () {
            var id = $('#mid').val();
            var title = $('#title').val();
            var content = $('#content').val();
            var duration = $('#duration').val();
            var start_time = $('#start_time').val();
            var status = 0;
            if ($('#status').is(':checked'))
            { status = 1; }
            $('#sub_data').attr('disabled', 'disabled').addClass('disabled');
            $.ajax({
                type: 'POST',
                url: '/Admin/<{$Ctrl}>/AjaxSubBull',
                async: false,
                data: {'id': id, 'title': title, 'content': content, 'duration': duration, 'start_time': start_time, 'status': status},
                dataType: 'json',
                success: function (json)
                {
                    if (json.ecode == 200)
                    {
                        $('.modal-body').html('<b class="green">操作成功！</b>');
                        document.location.reload();
                    }
                    else
                    {
                        alert(json.emsg);
                        $('#sub_data').removeAttr('disabled').removeClass('disabled');
                    }
                },
                error: function () {
                    $('.modal-body').html('<b class="red">数据加载失败！</b>');
                     document.location.reload();
                }
            });
        });

    </script>
    <link rel="stylesheet" href="<{asource css='bootstrap-datetimepicker.min.css'}>" />
    <script src="<{asource js='date-time/moment.min.js'}>"></script>
    <script src="<{asource js='date-time/bootstrap-datetimepicker.min.js'}>"></script>

    <script type="text/javascript">
                $('#start_time').datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            // pickDate: false,
            // startView: 1,
        }).on('changeDate', function () {
            $(this).datetimepicker('hide');
        });
    </script>

    <{include file='Admin/Public/footer.html'}>
