<div id="sidebar" class="sidebar responsive ace-save-state">
    <script type="text/javascript">
        try {
            ace.settings.loadState('sidebar')
        } catch (e) {
        }
    </script>
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- #sidebar-shortcuts -->

    <ul class="nav nav-list">
        <{foreach from = LeftMenuModel::aleft() key = key item = val}>
          <{if $val.Show == 1 && ($val.Prive >= $smarty.session._agent_user.roleid)}>
        <li <{if $Ctrl == $key}> class = 'highlight active open' <{/if}>>
            <a href='<{$val.Href}>' class='dropdown-toggle'>
                <i class="menu-icon fa fa-pencil-square-o"></i>
                <span class="menu-text"> <{$val.Title}> </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>

            <ul class="submenu">
                <{foreach from = $val.Actions key = vkey item = vval}>
                <{if $vval.Show == 1 && $vval.Prive >= $smarty.session._agent_user.roleid}>
                <li<{if $Act == $vkey}> class = "active" <{/if}>>
                    <a href='/Agent/<{$key}>/<{$vkey}>'>
                        <i class="menu-icon fa fa-caret-right"></i>
                        <{$vval.Title}> 
                    </a>
                    <b class="arrow"></b>
                </li>
                <{/if}>
                <{/foreach}>
            </ul>
        </li>
        <{/if}>
        <{/foreach}>
    </ul><!-- /.nav-list -->


    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <script type="text/javascript">
        try {
            ace.settings.check('sidebar', 'collapsed')
        }
        catch (e)
        {
        }

    </script>

</div>
