<{include file="Admin/Public/header.html"}>
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>
    <{include file="Admin/Public/left.html"}>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Admin/Main/Index">首页</a>
                    </li>

                    <li>
                        <a href="/Admin/Player/ListCommit">玩家留言</a>
                    </li>
                    <li class="active">列表</li>
                </ul><!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search" method="get">
                        <span class="input-icon">
                            <input type="text" placeholder="玩家ID[回车]" class="nav-search-input" name = "search_angent" id = "search_angent" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <div class="page-content">
                <{include file="Admin/Public/styletool.html"}> 
                <div class="page-header">
                    <h1>
                        玩家留言
                        <small>
                            <i class="icon-double-angle-right"></i>
                            列表
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">

                    <!-- PAGE CONTENT BEGINS -->

                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <div class="table-responsive fadeInDown animated">
                            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="position-relative">
                                                <input type="checkbox" id ="check_all" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th>玩家ID</th>
                                        <th>玩家IP</th>
                                        <th>留言时间</th>
                                        <th>留言内容</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <{foreach from=$list item=val key=key}>
                                    <tr>
                                        <td>
                                            <label class="position-relative">
                                                <input type="checkbox" class="ace" name="check_pro" value = "<{$val.id}>" />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                        <td><{$val.player_id}></td>
                                        <td><{$val.player_ip}></td>
                                        <td><{$val.sub_time|date_format:"Y-m-d H:i:s"}> </td>   
                                        <td><{$val.sub_data|truncate:20}> </td>
                                        <td>
                                            <a href = '/Admin/Player/ShowCommit?cid=<{$val.id}>'> 查看 </a>
                                        </td>
                                    </tr>
                                    <{foreachelse}>
                                    <tr>
                                        <td colspan="9" style="color: red"> 没找到信息! </td>
                                    </tr>
                                    <{/foreach}>
                                    <tr>
                                        <td colspan = "9"> 
                                            <button class="btn btn-purple btn-sm" type="button" onclick="del();">
                                                删除
                                                <i class="icon-cog icon-on-right bigger-110"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div><!-- /.table-responsive -->

                        <!-- Sub Page -->
                        <div class="row"><{$page}></div>
                        <!-- /.Sub Page -->

                    </div><!-- /.row .col -->

                    <!-- PAGE CONTENT ENDS -->

                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content-inner -->
    </div> <!-- /.main-content -->
    <!-- </div> /.main-container -->

    <script type="text/javascript">
        $('#check_all').click(function () {
            $('[name=check_pro]:checkbox').each(function () {
                this.checked = !this.checked;
            });
        });

        function del()
        {
            var data = '';
            var inputs = document.getElementsByName('check_pro');
            for (var i = 0; i < inputs.length; i++)
            {
                if (inputs[i].checked)
                {
                    data = data + ',' + inputs[i].value;
                }
            }
            data = data.substr(1);
            if (data.length < 1)
            {
                alert('请选择要删除的数据');
                return false;
            }
            if (!confirm('确认要删除吗？'))
            {
                return false;
            }
            $.ajax({
                url: '/Admin/Player/AjaxDelCommit',
                type: 'POST',
                data: {'ids': data, },
                dataType: 'json',
                success: function (json) {
                    alert(json.emsg);
                    if (json.ecode == 200)
                    {
                        location.reload();
                    }
                }

            });

        }

    </script>

    <{include file='Admin/Public/footer.html'}>
